.App {
  background: var(--bg);
  width: var(--app-width);
  margin: 10px 0;
}
.App-contents {
  display: flex;
  flex-direction: row-reverse;
}
.App-title {
  background: #00f;
  color: #fff;
  padding: .2em 0 0 1px;
  margin: 2px 2px 0;
  font-weight: bold;
  font-size: 16px;
  cursor: default;
  user-select: none;
  display: flex;
  align-items: center;
  line-height: 1em;
  padding: 5px 0 4px 2px;
}
.App-title .Emoji {
  margin-right: .25em;
}
