.Cell {
  width: var(--cell-size);
  height: var(--cell-size);
  position: relative;
  background: var(--bg);
  text-align: center;
  cursor: default;
}
.CellContent {
  display: block;
  line-height: var(--cell-size);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.CellControl {
  position: absolute;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  display: block;
  background: transparent;
  cursor: pointer;
}
.CellControl:before {
  content: " ";
  position: absolute;
  display: block;
  top: var(--cell-border);
  left: var(--cell-border);
  width: calc(100% - var(--cell-border) * 2);
  height: calc(100% - var(--cell-border) * 2);
}
button:hover,
.CellControl:hover:before {
  background-color: rgba(255, 255, 255, .25);
}
button,
.CellControl:before {
  transition: background-color .025s ease-in-out;
}
.CellControl:active:before {
  background: rgba(0, 0, 0, .075);
  outline: solid 2px var(--bg2);
}


.App-results-true .CellControl {
  display: none;
}
.Cell-strict-true .CellContent,
.App-results-true .CellContent-on-true {
  border-color: var(--border-hl2);
  border-width: 1px;
  border-style: none solid solid none;
}

.CellContent:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.App-results-true .Cell-loose-true:not(.Cell-strict-true) .CellContent:before {
  content: var(--no);
  color: red;
}

.App-results-true .Cell-loose-true .CellContent-on-true:before,
.Cell-strict-true .CellContent:before {
  color: green;
  content: var(--yes) !important;
}
.Cell-strict-true .CellControl {
  display: none;
}

button,
.App,
.CellContent {
  border-style: solid;
  border-width: 2px;
  border-color: var(--border-hl1) var(--border-hl2) var(--border-hl2) var(--border-hl1);
}
:root {
  --button-padding-x: 8px;
  --button-padding-y: 2px;
}
button {
  background: var(--bg);
  cursor: pointer;
  outline: none;
  padding: var(--button-padding-y) var(--button-padding-x);
  font-size: 18px;
}
button:active {
  border-style: solid;
  border-width: 1px;
  padding: calc(var(--button-padding-y) + 1px) calc(var(--button-padding-x) + 1px);
  border-color: var(--border-hl1) var(--border-hl2) var(--border-hl2) var(--border-hl1);
  background: var(--bg);
}

.App-results-false .Cell:not(.Cell-strict-true) .CellContent-on-true:before {
  content: var(--flag);
}
