.Grid {
  border-collapse: collapse;
  border-spacing: 0;
  white-space: nowrap;
}
.Grid-wrapper {
  --margin: 10px;
  margin: 0 var(--margin) var(--margin) 0;
  position: relative;
  flex-shrink: 0;
}
.Grid thead {
  text-align: right;
  vertical-align: bottom;
  white-space: nowrap;
}
.Grid thead div {
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  text-align: right;
  vertical-align: bottom;
  padding-top: 10px;
  height: 90px;
}
.Grid th {
  padding: 0;
  font-family: var(--monospace);
  cursor: default;
}
.Grid th {
  line-height: var(--cell-size);
}
.Grid td {
  padding: 0;
  user-select: none;
}

.Grid thead th:first-child {
  border-style: none;
}
.Grid tbody th {
  text-align: right;
  border-right: var(--cell-border2) solid var(--border-hl2);
  padding-right: 4px;
}

.Grid thead th {
  border-bottom: var(--cell-border2) solid var(--border-hl2);
  padding-bottom: 4px;
}
.Grid td:last-child {
  border-right: var(--cell-border2) solid var(--border-hl1);
}
.Grid tr:last-child td {
  border-bottom: var(--cell-border2) solid var(--border-hl1);
}

.Grid-ruler {
  position: absolute;
  display: none;
  border: 1px dotted #000;
}
.Grid-ruler-x {
  left: 0;
  height: calc(var(--cell-size) + 1px);
  border-right-style: none;
}
.Grid-ruler-y {
  top: 0;
  width: calc(var(--cell-size) + 1px);
  border-bottom-style: none;
}

.Grid-tooltip {
  background: #fff;
  position: absolute;
  padding: 4px 6px;
  font-family: var(--monospace);
  white-space: nowrap;
  cursor: default;
  user-select: none;
  box-shadow: 2px 2px 2px rgba(0,0,0,.25);
  display: none;
}
