:root {
  --border-hl1: #fff;
  --border-hl2: #808080;
  --bg: #c0c0c0;
  --bg2: #adadad;
  --cell-border: 2px;
  --cell-border2: 2px;
  --border-dark: rgba(255, 255, 255, .25);
  --padding: 20px;
  --digital-font: Orbitron, sans-serif;
  --yes: "✔️";
  --no: "❌";
  --flag: "🚩";
}
* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
html, body {
  min-height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--padding) 0;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #5aa;
}
body, td, button {
  font-size: 16px;
  color: #222;
}

.box {
  border-color: var(--border-hl2);
  border-width: 1px;
  border-style: none solid solid none;
}
button {
  user-select: none;
}

ol, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

code {
  /* outline: #ccc solid 1px; */
  background: #ccc;
}
