:root {
  --border-hl1: #fff;
  --border-hl2: #808080;
  --bg: #c0c0c0;
  --bg2: #adadad;
  --cell-border: 2px;
  --cell-border2: 2px;
  --border-dark: rgba(255, 255, 255, .25);
  --padding: 20px;
  --digital-font: Orbitron, sans-serif;
  --yes: "✔️";
  --no: "❌";
  --flag: "🚩";
  --cell-size: 30px;
  --monospace: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  --cols: 21;
  --app-width: calc(450px + (var(--cell-size) * var(--cols)));
  --bg-hl: rgba(255, 255, 255, .15);
  --yes-color: #16c60c;
}
* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
html, body {
  min-height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--padding) 0;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #5aa;
}
body, td, button {
  font-size: 16px;
  color: #222;
}

.box {
  border-color: var(--border-hl2);
  border-width: 1px;
  border-style: none solid solid none;
}
button {
  user-select: none;
}

ol, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

code {
  background: #ccc;
}
@media (min-width: 1500px) and (min-height: 800px) {
  :root {
    --cell-size: 35px;
  }
}
@media (max-width: 1100px) {
  :root {
    --cell-size: 26px;
  }
}
@media (max-width: 1000px) { 
  :root {
    --app-width: calc(110px + (var(--cell-size) * var(--cols)));
    --cell-size: 30px;
  }
  .App .App-contents {
    flex-direction: column-reverse;
  }
  .App .Sidebar {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .App .Sidebar-score .Sidebar-group-container {
    margin-left: 0;
  }
}
@media (max-width: 700px) { 
  :root {
    --app-width: calc(100vw - 20px);
    --cell-size: 24px;
  }
}
@media (max-width: 400px) { 
  :root {
    --cell-size: 12px;
  }
}
