.Menu {
  display: flex;
  user-select: none;
  margin: 5px 10px 15px;
  align-items: end;
}
.Menu li {
  margin-right: 20px;
}
.Menu span span {
  text-decoration: underline;
}
.Menu a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.Menu button:hover,
.Menu a:hover {
  text-decoration: underline;
}
.Menu button:not([disabled]):active,
.Menu a:active {
  position: relative;
  top: 1px;
  left: 1px;
}
.Menu button:not([disabled]) {
  border-style: none;
  padding: 0;
  font-size: inherit;
}
.Menu button:hover {
  background: transparent;
}
