.Results {
  display: flex;
  flex-direction: column;
  cursor: default;
}
.Results-score {
  display: flex;
  justify-content: center;
}

.Results-misses:before {
  color: red;
}

.Results label {
  display: none;
}

.Score {
  display: inline-block;
}

.Results-face {
  margin-bottom: .75em;
  font-size: 1.8em;
  white-space: nowrap;
  background: var(--bg-hl);
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Results-wrapper,
.App-results-true .Results-face {
  cursor: help;
}

.Results-controls {
  display: flex;
  align-items: stretch;
}
.Results-submit {
  flex-grow: 1;
  margin-right: 5px;
}

.App-results-true .Cell-strict-true .CellContent:before {
  opacity: .35;
}

a.button.disabled,
button[disabled] {
  opacity: .5;
  cursor: default;
}
a.button.disabled:hover,
button[disabled]:hover {
  background: inherit;
}

.Results-wrapper {
  display: flex;
  align-items: center;
}

.Twitter img {
  vertical-align: middle;
  position: relative;
  top: -1px;
}
