.Results {
  display: flex;
  flex-direction: column;
}
.Results-score {
  display: flex;
  justify-content: center;
}

.Results-hits:before {
  content: var(--yes);
}

.Results-misses:before {
  content: var(--no);
}

.Results-flags:before {
  content: var(--flag);
}

.Results label {
  display: none;
}

.Score {
  display: inline-block;
}

.Results-face {
  /* text-align: center; */
  margin-bottom: .75em;
  font-size: 2em;
}

.Results-controls {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.App-results-true .Results-controls {
  display: none;
}
