.Score {
  border-style: solid;
  border-width: 2px;
  border-color: var(--border-hl2) var(--border-hl1) var(--border-hl1) var(--border-hl2);
  background: #222;
  color: #f00;
  font-size: 24px;
  font-family: var(--digital-font);
  text-align: center;
  padding: .1em .2em;
  user-select: none;
  line-height: 1em;
}

.Letters {
  white-space: nowrap;
}
.Letters-a {
  opacity: .35;
}
.Letters-letter {
  display: inline-block;
  width: .8em;
  text-align: right;
}
