:root {
  --border-hl1: #fff;
  --border-hl2: #808080;
  --bg: #c0c0c0;
  --bg2: #adadad;
  --cell-border: 2px;
  --cell-border2: 2px;
  --border-dark: rgba(255, 255, 255, .25);
  --padding: 20px;
}
* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
html, body {
  min-height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--padding) 0;
}
body, td {
  color: #222;
}
.App {
  font-size: 16px;
  background: var(--bg);
  display: flex;
  flex-direction: row-reverse;
}
.Grid {
  border-collapse: collapse;
  border-spacing: 0;
  white-space: nowrap;
  user-select: none;
  --margin: 10px;
  margin: 0 var(--margin) var(--margin) 0;
}
.Grid th:first-child {
  width: 100px;
  text-align: right;
}
.Grid thead div {
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  text-align: right;
  height: 100px;
  white-space: normal;
  line-height: 2em;
}
.Grid th {
  padding: 0;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
.Grid td {
  padding: 0;
}


.Cell {
  width: 2em;
  height: 2em;
  position: relative;
  background: var(--bg);
  text-align: center;
}
.CellContent {
  display: block;
  line-height: 2em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.CellControl {
  position: absolute;
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  display: block;
  background: transparent;
  cursor: pointer;
}
.CellControl:before {
  content: " ";
  position: absolute;
  display: block;
  top: var(--cell-border);
  left: var(--cell-border);
  width: calc(100% - var(--cell-border) * 2);
  height: calc(100% - var(--cell-border) * 2);
}
.CellControl:hover:before {
  background: rgba(255, 255, 255, .25);
}
.CellControl:active:before {
  background: rgba(0, 0, 0, .075);
  outline: solid 2px var(--bg2);
}
.App-results-true .CellControl {
  display: none;
}
.Cell-strict-true .CellContent,
.App-results-true .CellContent-on-true {
  border-color: var(--border-hl2);
  border-width: 1px;
  border-style: none solid solid none;
}

.CellContent:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.App-results-true .Cell-loose-true:not(.Cell-strict-true) .CellContent:before {
  content: "❌";
  color: red;
}

.App-results-true .Cell-loose-true .CellContent-on-true:before,
.Cell-strict-true .CellContent:before {
  color: green;
  content: "✔️" !important;
}
.Cell-strict-true .CellControl {
  display: none;
}

.App,
.CellContent {
  border-style: solid;
  border-width: 2px;
  border-color: var(--border-hl1) var(--border-hl2) var(--border-hl2) var(--border-hl1);
}
.App-results-false .Cell:not(.Cell-strict-true) .CellContent-on-true:before {
  content: "🚩";
}

.Grid thead th:first-child {
  border-style: none;
}
.Grid th:first-child {
  border-right: var(--cell-border2) solid var(--border-hl2);
  padding-right: 4px;
}
.Grid thead th {
  border-bottom: var(--cell-border2) solid var(--border-hl2);
  padding-bottom: 4px;
}
.Grid td:last-child {
  border-right: var(--cell-border2) solid var(--border-hl1);
}
.Grid tr:last-child td {
  border-bottom: var(--cell-border2) solid var(--border-hl1);
}



.Results {
  --margin: 10px;
  margin: var(--margin) 0 var(--margin) var(--margin);
}

h1 {
  font-size: 24px;
}
